<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>announceAgentTyping</key>
	<string>TRUE</string>
	<key>brandAvatarImage</key>
	<string>nil</string>
	<key>bubbleBottomPadding</key>
	<string>10</string>
	<key>bubbleEmailLinksRegex</key>
	<string>nil</string>
	<key>bubbleLeadingPadding</key>
	<string>10</string>
	<key>bubblePhoneLinksRegex</key>
	<string>nil</string>
	<key>bubbleTimestampBottomPadding</key>
	<string>5</string>
	<key>bubbleTimestampTopPadding</key>
	<string>5</string>
	<key>bubbleTopPadding</key>
	<string>10</string>
	<key>bubbleTrailingPadding</key>
	<string>10</string>
	<key>bubbleUrlLinksRegex</key>
	<string>nil</string>
	<key>cameraButtonDisabledColor</key>
	<string>#AF000E</string>
	<key>cameraButtonEnabledColor</key>
	<string>#DB0011</string>
	<key>checkmarkDistributedColor</key>
	<string>#767676</string>
	<key>checkmarkReadColor</key>
	<string>#767676</string>
	<key>checkmarkSentColor</key>
	<string>#767676</string>
	<key>connectionStatusConnectingBackgroundColor</key>
	<string>#D7D8D6</string>
	<key>connectionStatusConnectingTextColor</key>
	<string>#767676</string>
	<key>connectionStatusFailedToConnectBackgroundColor</key>
	<string>#D7D8D6</string>
	<key>connectionStatusFailedToConnectTextColor</key>
	<string>#DB0011</string>
	<key>controllerBubbleTextColor</key>
	<string>#000000</string>
	<key>conversationBackgroundColor</key>
	<string>#FFFFFF</string>
	<key>conversationClosedSeparatorTopPadding</key>
	<string>5</string>
	<key>conversationNavigationBackgroundColor</key>
	<string>#FFFFFF</string>
	<key>conversationNavigationTitleColor</key>
	<string>#000000</string>
	<key>conversationSeparatorBottomPadding</key>
	<string>7</string>
	<key>conversationSeparatorFontName</key>
	<string>7</string>
	<key>conversationSeparatorTextColor</key>
	<string>#767676</string>
	<key>conversationSeparatorViewBottomPadding</key>
	<string>nil</string>
	<key>country</key>
	<string>nil</string>
	<key>csatAgentAvatarBackgroundColor</key>
	<string>#D7D8D6</string>
	<key>csatAgentAvatarIconColor</key>
	<string>#000000</string>
	<key>csatAgentViewHidden</key>
	<string>TRUE</string>
	<key>csatAllTitlesTextColor</key>
	<string>#000000</string>
	<key>csatNavigationBackgroundColor</key>
	<string>#FFFFFF</string>
	<key>csatNavigationTitleColor</key>
	<string>#000000</string>
	<key>csatRatingButtonSelectedColor</key>
	<string>#FFFFFF</string>
	<key>csatResolutionHidden</key>
	<string>TRUE</string>
	<key>csatShowSurveyView</key>
	<string>FALSE</string>
	<key>csatSkipButtonColor</key>
	<string>UIColor.black</string>
	<key>csatSubmitButtonBackgroundColor</key>
	<string>#FFFFFF</string>
	<key>csatSubmitButtonCornerRadius</key>
	<string>30</string>
	<key>csatSubmitButtonTextColor</key>
	<string>#000000</string>
	<key>csatSurveyExpirationInMinutes</key>
	<string>1440</string>
	<key>csatThankYouScreenHidden</key>
	<string>FALSE</string>
	<key>csatUIStatusBarStyleLightContent</key>
	<string>TRUE</string>
	<key>customButtonImage</key>
	<string>nil</string>
	<key>customFontNameConversationFeed</key>
	<string>nil</string>
	<key>customFontNameDateSeparator</key>
	<string>nil</string>
	<key>customFontNameNonConversationFeed</key>
	<string>nil</string>
	<key>customRefreshControllerAnimationSpeed</key>
	<string>2</string>
	<key>customRefreshControllerImagesArray</key>
	<string>nil</string>
	<key>dateSeparatorBackgroundColor</key>
	<string>#FFFFFF</string>
	<key>dateSeparatorBottomPadding</key>
	<string>0</string>
	<key>dateSeparatorLineBackgroundColor</key>
	<string>#767676</string>
	<key>dateSeparatorTextColor</key>
	<string>#D7D8D6</string>
	<key>dateSeparatorTitleBackgroundColor</key>
	<string>#FFFFFF</string>
	<key>dateSeparatorTopPadding</key>
	<string>0</string>
	<key>deleteClosedConversationOlderThanMonths</key>
	<string>13</string>
	<key>enableClientOnlyMasking</key>
	<string>FALSE</string>
	<key>enableConversationSeparatorLine</key>
	<string>TRUE</string>
	<key>enableConversationSeparatorTextMessage</key>
	<string>TRUE</string>
	<key>enableLinkPreview</key>
	<string>TRUE</string>
	<key>enablePhotoSharing</key>
	<string>TRUE</string>
	<key>enableRealTimeMasking</key>
	<string>FALSE</string>
	<key>enableStrucutredContent</key>
	<string>FALSE</string>
	<key>enableVibrationOnMessageFromRemoteUser</key>
	<string>FALSE</string>
	<key>fileCellLoaderFillColor</key>
	<string>UIColor(white: 0.0, alpha: 0.5)</string>
	<key>fileCellLoaderRingBackgroundColor</key>
	<string>#FFFFFF</string>
	<key>fileCellLoaderRingProgressColor</key>
	<string>#D7D8D6</string>
	<key>inputTextViewContainerBackgroundColor</key>
	<string>#FFFFFF</string>
	<key>inputTextViewCornerRadius</key>
	<string>0</string>
	<key>isReadReceiptTextMode</key>
	<string>TRUE</string>
	<key>linkPreviewBackgroundColor</key>
	<string>#FFFFFF</string>
	<key>linkPreviewBorderWidth</key>
	<string>0</string>
	<key>linkPreviewDescriptionTextColor</key>
	<string>#767676</string>
	<key>linkPreviewSiteNameTextColor</key>
	<string>#DB0011</string>
	<key>linkPreviewTitleTextColor</key>
	<string>#000000</string>
	<key>lpDateFormat</key>
	<string>nil</string>
	<key>lpDateTimeFormat</key>
	<string>nil</string>
	<key>lpTimeFormat</key>
	<string>nil</string>
	<key>maxNumberOfSavedFilesOnDisk</key>
	<string>20</string>
	<key>maxPreviousConversationToPresent</key>
	<string>2</string>
	<key>notificationShowDurationInSeconds</key>
	<string>3 (60 when in VoiceOver mode)</string>
	<key>photosharingMenuBackgroundColor</key>
	<string>#c1c1c1</string>
	<key>photosharingMenuButtonsBackgroundColor</key>
	<string>#D7D8D6</string>
	<key>photosharingMenuButtonsTextColor</key>
	<string>#DB0011</string>
	<key>photosharingMenuButtonsTintColor</key>
	<string>#D7D8D6</string>
	<key>remoteUserAvatarBackgroundColor</key>
	<string>#D7D8D6</string>
	<key>remoteUserAvatarIconColor</key>
	<string>#000000</string>
	<key>remoteUserAvatarLeading</key>
	<string>8</string>
	<key>remoteUserAvatarTrailingPadding</key>
	<string>8</string>
	<key>remoteUserBubbleBackgroundColor</key>
	<string>#D7D8D6</string>
	<key>remoteUserBubbleBorderColor</key>
	<string>#D7D8D6</string>
	<key>remoteUserBubbleBorderWidth</key>
	<string>0</string>
	<key>remoteUserBubbleBottomLeftCornerRadius</key>
	<string>0</string>
	<key>remoteUserBubbleBottomRightCornerRadius</key>
	<string>0</string>
	<key>remoteUserBubbleLinkColor</key>
	<string>#DB0011</string>
	<key>remoteUserBubbleLongPressOverlayAlpha</key>
	<string>0.3</string>
	<key>remoteUserBubbleLongPressOverlayColor</key>
	<string>#C1C1C1</string>
	<key>remoteUserBubbleTextColor</key>
	<string>#000000</string>
	<key>remoteUserBubbleTimestampColor</key>
	<string>#D7D8D6</string>
	<key>remoteUserBubbleTopLeftCornerRadius</key>
	<string>0</string>
	<key>remoteUserBubbleTopRightCornerRadius</key>
	<string>0</string>
	<key>remoteUserDefaultAvatarImage</key>
	<string>nil</string>
	<key>remoteUserTypingTintColor</key>
	<string>#000000</string>
	<key>retrieveAssignedAgentFromLastClosedConversation</key>
	<string>TRUE</string>
	<key>secureFormBackButtonColor</key>
	<string>#000000</string>
	<key>secureFormBubbleBackgroundColor</key>
	<string>UIColor.white</string>
	<key>secureFormBubbleBorderColor</key>
	<string>#D7D8D6</string>
	<key>secureFormBubbleBorderWidth</key>
	<string>0</string>
	<key>secureFormBubbleDescriptionColor</key>
	<string>#767676</string>
	<key>secureFormBubbleFillFormButtonBackgroundColor</key>
	<string>#FFFFFF</string>
	<key>secureFormBubbleFillFormButtonTextColor</key>
	<string>#767676</string>
	<key>secureFormBubbleFormImageTintColor</key>
	<string>#DB0011</string>
	<key>secureFormBubbleLoadingIndicatorColor</key>
	<string>#a4091c</string>
	<key>secureFormBubbleTitleColor</key>
	<string>#D7D8D6</string>
	<key>secureFormCustomFontName</key>
	<string>Universe HSBC font</string>
	<key>secureFormHideLogo</key>
	<string>FALSE</string>
	<key>secureFormNavigationBackgroundColor</key>
	<string>#FFFFFF</string>
	<key>secureFormNavigationTitleColor</key>
	<string>#000000</string>
	<key>secureFormUIStatusBarStyleLightContent</key>
	<string>TRUE</string>
	<key>sendButtonDisabledColor</key>
	<string>#DB0011</string>
	<key>sendButtonEnabledColor</key>
	<string>#AF000E</string>
	<key>sendingMessageTimeoutInMinutes</key>
	<string>60</string>
	<key>showOffHoursBanner</key>
	<string>TRUE</string>
	<key>showUrgentButtonInTTRNotification</key>
	<string>FALSE</string>
	<key>structuredContentBubbleBorderColor</key>
	<string>nil</string>
	<key>structuredContentBubbleBorderWidth</key>
	<string>0.3</string>
	<key>structuredContentMapLatitudeDeltaDeltaSpan</key>
	<string>0.01</string>
	<key>structuredContentMapLongitudeDeltaSpan</key>
	<string>0.01</string>
	<key>systemBubbleTextColor</key>
	<string>#e0e0e0</string>
	<key>toastNotificationsEnabled</key>
	<string>TRUE</string>
	<key>ttrBannerBackgroundColor</key>
	<string>#767676</string>
	<key>ttrBannerOpacityAlpha</key>
	<string>0.8</string>
	<key>ttrBannerTextColor</key>
	<string>#FFFFFF</string>
	<key>ttrFirstTimeDelay</key>
	<string>10</string>
	<key>ttrShouldShowTimestamp</key>
	<string>FALSE</string>
	<key>ttrShowFrequencyInSeconds</key>
	<string>8</string>
	<key>ttrShowShiftBanner</key>
	<string>TRUE</string>
	<key>unreadMessagesDividerEnabled</key>
	<string>FALSE</string>
	<key>urlRealTimePreviewBackgroundColor</key>
	<string>#FFFFFF</string>
	<key>urlRealTimePreviewBorderColor</key>
	<string>#C1C1C1</string>
	<key>urlRealTimePreviewBorderWidth</key>
	<string>0</string>
	<key>urlRealTimePreviewDescriptionTextColor</key>
	<string>#767676</string>
	<key>urlRealTimePreviewTitleTextColor</key>
	<string>#767676</string>
	<key>useNonOGTagsForLinkPreview</key>
	<string>TRUE</string>
	<key>userBubbleBackgroundColor</key>
	<string>#C1C1C1</string>
	<key>userBubbleBorderColor</key>
	<string>#C1C1C1</string>
	<key>userBubbleBorderWidth</key>
	<string>0</string>
	<key>userBubbleBottomLeftCornerRadius</key>
	<string>0</string>
	<key>userBubbleBottomRightCornerRadius</key>
	<string>0</string>
	<key>userBubbleErrorBorderColor</key>
	<string>#DB0011</string>
	<key>userBubbleErrorTextColor</key>
	<string>#DB0011</string>
	<key>userBubbleLinkColor</key>
	<string>#DB0011</string>
	<key>userBubbleLongPressOverlayAlpha</key>
	<string>0.3</string>
	<key>userBubbleLongPressOverlayColor</key>
	<string>#C1C1C1</string>
	<key>userBubbleSendStatusTextColor</key>
	<string>#D7D8D6</string>
	<key>userBubbleTextColor</key>
	<string>#000000</string>
	<key>userBubbleTimestampColor</key>
	<string>#D7D8D6</string>
	<key>userBubbleTopLeftCornerRadius</key>
	<string>0</string>
	<key>userBubbleTopRightCornerRadius</key>
	<string>0</string>
</dict>
</plist>
